{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "env": {
    "lib": {
      "ignore": ["src/**/*.test.js"]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false, "targets": { "esmodules": true } }
        ]
      ],
      "ignore": ["src/**/*.test.js"]
    }
  }
}
